{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="row">
			<div
				class="col-md-12 d-flex justify-content-around flex-wrap">
				{# boucle sur le tableau $articles du controller#}
				{% for key, item in sujets %}
					<div class="card" style="width: 450px; margin-top: 50px">
						<div class="card-header">
							Créé le
							{{ item.getDate|date("d/m/Y") }}
						</div>
						<div class="card-body">
							<h5 class="card-title">{{ item.getTitre }}</h5>
							<a href="{{ path('show_messages',{ idSujet:item.getId() }) }}" class="btn btn-primary">Voir les messages</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
